<!DOCTYPE html>
{%load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BD Restaurant</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href={% static "img/favicon.ico"%} rel="icon">
        <link href={% static "img/apple-touch-icon.png" %} rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Nunito:600,700,800,900" rel="stylesheet"> 

        <!-- Bootstrap CSS File -->
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/animate/animate.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css" %}" rel="stylesheet" />

        <!-- Main Stylesheet File -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>

    <body>

        <main id="main">

            <!-- Top Header Start -->
            <section id="top-header">
                <div class="logo">
                    <img src="{% static "img/logo.png" %}" />
                </div>
                
                <div id="header-slider" class="carousel slide" data-ride="carousel">
                    
                    <ol class="carousel-indicators">
                        <li data-target="#header-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#header-slider" data-slide-to="1"></li>
                        <li data-target="#header-slider" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="fill" style="background-image:url('img/slider-1.jpg');"></div>
                            <div class="carousel-caption">
                                <h2 class="animated fadeInLeft">Local Fresh Cuisine</h2>
                                <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                <p class="animated fadeInUp"><a href="https://htmlcodex.com" class="btn btn-transparent btn-rounded btn-large">Learn More</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="fill" style="background-image:url('img/slider-2.jpg');"></div>
                            <div class="carousel-caption">
                                <h2 class="animated fadeInDown">Comfortable Dining Room</h2>
                                <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                <p class="animated fadeInUp"><a href="https://htmlcodex.com" class="btn btn-transparent btn-rounded btn-large">Learn More</a></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="fill" style="background-image:url('img/slider-3.jpg');"></div>
                            <div class="carousel-caption">
                                <h2 class="animated fadeInRight">Nice Space</h2>
                                <p class="animated fadeInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                <p class="animated fadeInRight"><a href="https://htmlcodex.com" class="btn btn-transparent btn-rounded btn-large">Learn More</a></p>
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#header-slider" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#header-slider" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </section>
            <!-- Top Header End -->

            <!-- Header Start -->
            <header id="header">
                <div class="container">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a href="{% url 'users:home' %}">Home</a></li>
                            <li><a href="{% url 'users:online_order'%}">Online Order</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'users:logout' %}"  >Logout</a></li>>
                             {% else %}
                                <li><a href="{% url 'users:login' %}"  >Login</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- Header End -->
            {% block content %}
            <!-- About Section Start-->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="about-col-left">
                                <img class="img-fluid" src="{% static "img/about-us.jpg" %}" />
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="about-col-right">
                                <div class="row">
                                    <div class="col-md-12">
                                        <header class="section-header">
                                            <h3>About Us</h3>
                                        </header>
                                        <ul class="icon">
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-pinterest"></a></li>
                                            <li><a href="#" class="fa fa-google-plus"></a></li>
                                        </ul>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis quam sed tincidunt accumsan. Aliquam at tincidunt tortor, ac porta turpis. Curabitur lacinia venenatis semper.
                                        </p>
                                        <p>
                                            Aliquam ut nibh ut lacus posuere facilisis. Vestibulum ullamcorper arcu et bibendum ultrices. Suspendisse rutrum turpis vitae.
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="about-col">
                                            <h4>Our Features</h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim mi arcu, ut tristique dui eleifend a. Vivamus ac nulla metus. Vestibulum sit amet quam tincidunt.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="about-col">
                                            <h4>Our Facilities</h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim mi arcu, ut tristique dui eleifend a. Vivamus ac nulla metus. Vestibulum sit amet quam tincidunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section End-->

            <!-- Menu Section Start -->
            <section id="food-menu">
                <div class="container">
                    <header class="section-header">
                        <h3>delicious Food Menu</h3>
                    </header>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-1.jpg" %}" />
                                <h4>Lorem ipsum</h4>
                                <span>$20.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-2.jpg" %}" />
                                <h4>Curabitur Commodo</h4>
                                <span>$10.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-3.jpg" %}" />
                                <h4>Proin Tortor</h4>
                                <span>$12.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-4.jpg" %}" />
                                <h4>Aliquam Erat</h4>
                                <span>$8.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-5.jpg" %}" />
                                <h4>Curabitur Arcu Massa</h4>
                                <span>$18.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-6.jpg" %}" />
                                <h4>Vestibulum Fringilla</h4>
                                <span>$15.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-7.jpg" %}" />
                                <h4>Ullamcorper Facilisis </h4>
                                <span>$10.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-8.jpg" %}" />
                                <h4>Integer Ullamcorper</h4>
                                <span>$22.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-9.jpg" %}" />
                                <h4>Vestibulum Posuere</h4>
                                <span>$16.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'users:online_order'  %}">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Menu Section End-->

            <!-- Team Section Start -->
            <section id="team">
                <div class="container">
                    <div class="section-header">
                        <h3>Meet Our Chef</h3>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="single-team">
                                <img src="{% static 'img/team-1.jpg' %}" alt="">
                                <h4>Don Dennis</h4>
                                <p>Assistant Chef</p>
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="single-team">
                                <img src="{% static 'img/team-2.jpg' %}" alt="">
                                <h4>Mary Tejeda</h4>
                                <p>Assistant Chef</p>
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                </ul>
                            </div>                    
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="single-team">
                                <img src="{% static 'img/team-3.jpg' %}" alt="">
                                <h4>Scott Williams</h4>
                                <p>Assistant Chef</p>
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-3">
                            <div class="single-team">
                                <img src="{% static 'img/team-4.jpg' %}" alt="">
                                <h4>Mary Hall</h4>
                                <p>Assistant Chef</p>
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team Section End -->

            <!-- Testimonials Section Start -->
            <section id="testimonials" class="section-bg wow fadeInUp">
                <div class="container">
                    <div class="section-header">
                        <h3>Our Food Lovers</h3>
                    </div>

                    <div class="owl-carousel testimonials-carousel">
                        <div class="row testimonial-item">
                            <div class="col-sm-4">
                                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                            </div>
                            <div class="col-sm-8">
                                <div class="testimonial-content">
                                    <div class="content">
                                        <h3>Jamie D. Boyd</h3>
                                        <h4>Oral Radiologist</h4>
                                        <p>
                                            <i class="fa fa-quote-left"></i>
                                            Commodo sed hendrerit id, posuere tempus odio. Phasellus vel leo aliquam, interdum massa quis, aliquam sapien. Aliquam erat volutpat. Etiam nec feugiat libero. Phasellus in ipsum nunc.
                                            <i class="fa fa-quote-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row testimonial-item">
                            <div class="col-sm-4">
                                <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                            </div>
                            <div class="col-sm-8">
                                <div class="testimonial-content">
                                    <div class="content">
                                        <h3>Albert J. Cerrato</h3>
                                        <h4>Craft Artist</h4>
                                        <p>
                                            <i class="fa fa-quote-left"></i>
                                            Proin ut dui dictum ligula condimentum cursus. Ut orci arcu, commodo sed hendrerit id, posuere tempus odio. Phasellus vel leo aliquam, interdum massa quis, aliquam sapien. Aliquam erat volutpat
                                            <i class="fa fa-quote-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row testimonial-item">
                            <div class="col-sm-4">
                                <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                            </div>
                            <div class="col-sm-8">
                                <div class="testimonial-content">
                                    <div class="content">
                                        <h3>Theresa R. Wood</h3>
                                        <h4>Prepress Technician</h4>
                                        <p>
                                            <i class="fa fa-quote-left"></i>
                                            Dictum ligula condimentum cursus commodo sed hendrerit id, posuere tempus odio. Phasellus vel leo aliquam, interdum massa quis, aliquam sapien. Aliquam erat volutpat. Etiam nec ultricies semper risus.
                                            <i class="fa fa-quote-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonials Section End -->

            <!-- Support Section Start -->
            <section id="support">
                <div class="container">
                    <h1>
                        Need Reservations? Call Us 24/7 at +1-234-567-8900
                    </h1>
                </div>
            </section>
            <!-- Support Section end -->
            {% endblock content %}

            <!-- Footer Start -->
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="copyright">
                                <p>&copy; Copyright <a href="">Your Site Name</a>. All Rights Reserved</p>
								
								<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
								<p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline">
                                <label>Get Latest Food Information</label>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter Your Email">
                                </div>
                                <button type="submit" class="btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer end -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        </main>

        <!-- JavaScript Libraries -->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/jquery/jquery-migrate.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "vendor/easing/easing.min.js" %}"></script>
        <script src="{% static "vendor/stickyjs/sticky.js" %}"></script>
        <script src="{% static "vendor/superfish/hoverIntent.js" %}"></script>
        <script src="{% static "vendor/superfish/superfish.min.js" %}"></script>
        <script src="{% static "vendor/owlcarousel/owl.carousel.min.js" %}"></script>
        <script src="{% static "vendor/tempusdominus/js/moment.min.js" %}"></script>
        <script src="{% static "vendor/tempusdominus/js/moment-timezone.min.js" %}"></script>
        <script src="{% static "vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js" %}"></script>

        <!-- Main Javascript File -->
        <script src="{% static "js/main.js" %}"></script>

    </body>
</html>
