{% extends 'order/order.html' %}
{%load static %}
{% block tittle%} Order List {%endblock%}

{% block content %}
    <h3>The total of your purchase was: </h3>
    <h2>{{ total }}</h2>
    <h5>We hope you enjoy your food</h5>
    <a class="btn btn-primary" href="{% url 'users:home' %}">Go back to Home Page</a>
{% endblock content %}