{% extends 'order/order.html' %}
{%load static %}
{% block tittle%} Order List {%endblock%}

{% block content %}
            <!-- Cart Section Start -->
            <section id="cart">
                <div class="container">
                    <header class="section-header">
                        <h3>Cart</h3>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive-sm">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Dish</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Client</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <th scope="row">{{ order.dish_name }}</th>
                                            <td>{{ order.dish_price }}</td>
                                            <td>{{ order.dish_description }}</td>
                                            <td>{{ order.date }}</td>
                                            {% if order.id_user == user.id %}
                                            <td>{{ user.first_name }}</td>
                                            {% else %}
                                                <td>None</td>
                                            {% endif %}

                                        </tr>
                                     {% endfor %}
                                    </tbody>

                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Total</th>
                                            <th>
                                               {{ total }}
                                           </th>

                                    </thead>

                                </table>
                            </div>
                            <div class = link >
                                <a class="btn btn-secondary" href="{% url 'orders:check_out' %}">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Cart Section End -->

    <!-- Menu Section Start -->
            <section id="food-menu">
                <div class="container">
                    <header class="section-header">
                        <h3>delicious Food Menu</h3>
                    </header>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-1.jpg" %}" />
                                <h4>Lorem ipsum</h4>
                                <span>$20.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

                                <a href="{% url 'orders:add_order' id_client=user.id id_order=1 %}">Order</a>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-2.jpg" %}" />
                                <h4>Curabitur Commodo</h4>
                                <span>$10.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=2 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-3.jpg" %}" />
                                <h4>Proin Tortor</h4>
                                <span>$12.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=3 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-4.jpg" %}" />
                                <h4>Aliquam Erat</h4>
                                <span>$8.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=4 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-5.jpg" %}" />
                                <h4>Curabitur Arcu Massa</h4>
                                <span>$18.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=5 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-6.jpg" %}" />
                                <h4>Vestibulum Fringilla</h4>
                                <span>$15.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=6 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-7.jpg" %}" />
                                <h4>Ullamcorper Facilisis </h4>
                                <span>$10.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=7 %}">Order Now</a>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-8.jpg" %}" />
                                <h4>Integer Ullamcorper</h4>
                                <span>$22.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=8 %}">Order</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-9.jpg" %}" />
                                <h4>Vestibulum Posuere</h4>
                                <span>$16.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=9 %}">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Menu Section End-->
        {% endblock content %}