<!DOCTYPE html>
{%load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BD Restaurant</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href={% static "img/favicon.ico"%} rel="icon">
        <link href={% static "img/apple-touch-icon.png" %} rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Nunito:600,700,800,900" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/animate/animate.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css" %}" rel="stylesheet" />

        <!-- Main Stylesheet File -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>

    <body>

        <main id="main">

            <!-- Banner Header Start -->
            <section class="banner-header">
                <div class="logo">
                    <img src="{% static "img/logo.png" %}" />
                </div>
            </section>
            <!-- Banner Header End -->

            <!-- Header Start -->
            <header id="header">
                <div class="container">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li><a href="{% url 'users:home' %}">Home</a></li>
                            <li class="menu-active"><a href="{% url 'users:online_order'  %}">Online Order</a></li>
                            <li><a href="{% url 'users:logout' %}"  >Login / Logout</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            {% block content %}
            <!-- Menu Section Start -->
            <section id="food-menu">
                <div class="container">
                    <header class="section-header">
                        <h3>delicious Food Menu</h3>
                    </header>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-1.jpg" %}" />
                                <h4>Lorem ipsum</h4>
                                <span>$20.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

                                <a href="{% url 'orders:add_order' id_client=user.id id_order=1 %}">Order</a>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-2.jpg" %}" />
                                <h4>Curabitur Commodo</h4>
                                <span>$10.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=2 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-3.jpg" %}" />
                                <h4>Proin Tortor</h4>
                                <span>$12.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=3 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-4.jpg" %}" />
                                <h4>Aliquam Erat</h4>
                                <span>$8.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=4 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-5.jpg" %}" />
                                <h4>Curabitur Arcu Massa</h4>
                                <span>$18.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=5 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-6.jpg" %}" />
                                <h4>Vestibulum Fringilla</h4>
                                <span>$15.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=6 %}">Order Now</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-7.jpg" %}" />
                                <h4>Ullamcorper Facilisis </h4>
                                <span>$10.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=7 %}">Order Now</a>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-8.jpg" %}" />
                                <h4>Integer Ullamcorper</h4>
                                <span>$22.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=8 %}">Order</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                            <div class="single-menu">
                                <img class="img-fluid" src="{% static "img/menu-9.jpg" %}" />
                                <h4>Vestibulum Posuere</h4>
                                <span>$16.00 / Person</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                <a href="{% url 'orders:add_order' id_client=user.id id_order=9 %}">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Menu Section End-->

            <!-- Cart Section Start -->

            <!-- Cart Section End -->

           {% endblock content %}

            <!-- Support Section Start -->
            <section id="support">
                <div class="container">
                    <h1>
                        Need Reservations? Call Us 24/7 at +1-234-567-8900
                    </h1>
                </div>
            </section>
            <!-- Support Section end -->

            <!-- Footer Start -->
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="copyright">
                                <p>&copy; Copyright <a href="">Your Site Name</a>. All Rights Reserved</p>
								
								<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
								<p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline">
                                <label>Get Latest Food Information</label>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter Your Email">
                                </div>
                                <button type="submit" class="btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer end -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        </main>

       <!-- JavaScript Libraries -->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/jquery/jquery-migrate.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "vendor/easing/easing.min.js" %}"></script>
        <script src="{% static "vendor/stickyjs/sticky.js" %}"></script>
        <script src="{% static "vendor/superfish/hoverIntent.js" %}"></script>
        <script src="{% static "vendor/superfish/superfish.min.js" %}"></script>
        <script src="{% static "vendor/owlcarousel/owl.carousel.min.js" %}"></script>
        <script src="{% static "vendor/tempusdominus/js/moment.min.js" %}"></script>
        <script src="{% static "vendor/tempusdominus/js/moment-timezone.min.js" %}"></script>
        <script src="{% static "vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js" %}"></script>

        <!-- Main Javascript File -->
        <script src="{% static "js/main.js" %}"></script>

    </body>
</html>
